@use './colors/all';

:root {
  color: var(--pg-neutral-fg);
  background-color: var(--gray-98);
  color-scheme: light;
  --color-transition-speed: 0.2s;
  --size-transition-speed: 0.2s;
  --pos-transition-speed: 0.2s;
}
*::selection {
  background-color: var(--pg-mid-accent) !important;
  color: var(--pg-fg) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    background-color: var(--gray-1);
    color: var(--pg-neutral-fg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
}

.full {
  width: 100%;
}

:host {
  font: inherit;
}

body {
  font-family: 'Atkinson Hyperlegible', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

code {
  font-family: 'Fira Code', monospace;
  white-space: pre;
}

hr.thin {
  margin: 1rem 0;
  border: 0.5px solid var(--pg-neutral-mid);
}

.surface {
  margin: 0 auto;
}

:root {
  --pg-fg: var(--pg-neutral-fg);
  --pg-fg-accent: var(--pg-neutral-fg-accent);
  --pg-mid: var(--pg-neutral-mid);
  --pg-mid-accent: var(--pg-neutral-mid-accent);
  --pg-bg-accent: var(--pg-neutral-bg-accent);
  --pg-bg: var(--pg-neutral-bg);
  --pg-cursor: var(--pg-mid);
}

.accent {
  --pg-fg: var(--pg-accent-fg);
  --pg-fg-accent: var(--pg-accent-fg-accent);
  --pg-mid: var(--pg-accent-mid);
  --pg-mid-accent: var(--pg-accent-mid-accent);
  --pg-bg-accent: var(--pg-accent-bg-accent);
  --pg-bg: var(--pg-accent-bg);
  --pg-cursor: var(--pg-mid);
}

.success {
  --pg-fg: var(--pg-success-fg);
  --pg-fg-accent: var(--pg-success-fg-accent);
  --pg-mid: var(--pg-success-mid);
  --pg-mid-accent: var(--pg-success-mid-accent);
  --pg-bg-accent: var(--pg-success-bg-accent);
  --pg-bg: var(--pg-success-bg);
  --pg-cursor: var(--pg-mid);
}

.warn {
  --pg-fg: var(--pg-warn-fg);
  --pg-fg-accent: var(--pg-warn-fg-accent);
  --pg-mid: var(--pg-warn-mid);
  --pg-mid-accent: var(--pg-warn-mid-accent);
  --pg-bg-accent: var(--pg-warn-bg-accent);
  --pg-bg: var(--pg-warn-bg);
  --pg-cursor: var(--pg-mid);
}

.error {
  --pg-fg: var(--pg-error-fg);
  --pg-fg-accent: var(--pg-error-fg-accent);
  --pg-mid: var(--pg-error-mid);
  --pg-mid-accent: var(--pg-error-mid-accent);
  --pg-bg-accent: var(--pg-error-bg-accent);
  --pg-bg: var(--pg-error-bg);
  --pg-cursor: var(--pg-mid);
}

// .pg-interactable:disabled {
//   --pg-fg: var(--pg-neutral-fg);
//   --pg-fg-accent: var(--pg-neutral-fg-accent);
//   --pg-mid: var(--pg-neutral-mid);
//   --pg-mid-accent: var(--pg-neutral-mid-accent);
//   --pg-bg-accent: var(--pg-neutral-bg-accent);
//   --pg-bg: var(--pg-neutral-bg);
// }
.pg-interactable {
  -webkit-animation: inactive 0s linear;
  -o-animation: inactive 0s linear;
  -ms-animation: inactive 0s linear;
  animation: inactive 0s linear;
}
.pg-interactable:active {
  -webkit-animation: active 0s linear;
  -o-animation: active 0s linear;
  -ms-animation: active 0s linear;
  animation: active 0s linear;
}

@keyframes active {
  // intentionally empty
}

@keyframes inactive {
  // intentionally empty
}
